#cont {
   width: 250px;
   margin: 50px auto;
}

#result {
   display: none;
}

#resp {
   display: none;
}

button {
   width: 200px;
   height: 50px;
   border-radius: 20px;
   outline: none;
   border: 3px solid #3882F6;
   background-color: orangered;
   color: white;
   font-weight: 700;
   text-decoration: none;
   display: none;
}